## Analysing the visited countries by democracy and gdp levels

In [19]:
import pandas as pd
import geopandas as gp
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
#data on presidential traveling as in other notebooks
df=pd.read_csv("../data/All data_geopanda_names2.csv", header=0,encoding = 'unicode_escape', parse_dates=["Date start", "Date end"])

In [21]:
df.head()

,Order,Country of president,President,Location continent,Location country,Location city,Date start,Date end,Subject,Participants,Source,Link
0,1.0,USA,W. BUSH,NaN,Mexico,San Cristobal,2001-02-16,2001-02-16,Meeting with President Fox.,NaN,NaN,NaN
1,2.0,USA,W. BUSH,NaN,Canada,Quebec,2001-04-20,2001-04-22,Attended the Summit of the Americas.,NaN,NaN,NaN
2,3.0,USA,W. BUSH,NaN,Spain,Madrid,2001-12-06,2001-06-13,Met with King Juan Carlos I and President Aznar.,NaN,NaN,NaN
3,4.0,USA,W. BUSH,NaN,Belgium,Brussels,2001-06-13,2001-06-14,Attended NATO Summit Meeting.,NaN,NaN,NaN
4,5.0,USA,W. BUSH,NaN,Sweden,Goteborg,2001-06-14,2001-06-15,Attended U.S.-European Union Summit Meeting; m...,NaN,NaN,NaN

## Visited countries and democracy

The data used here comes from the World Democracy Index by the Economist. The data exists from 2006 (except the years 2007 and 2009)

In [54]:
df['Year'] = df['Date start'].apply(lambda x: x.year)

In [55]:
#taking into ccount only the years after 2005
df1=df[df['Year']>2005].copy()

In [56]:
df1.head()

,Order,Country of president,President,Location continent,Location country,Location city,Date start,Date end,Subject,Participants,Source,Link,Year
76,77.0,USA,W. BUSH,NaN,Ireland,Shannon,2006-02-28,2006-02-28,Met with U.S. Marines who were en route to Iraq.,NaN,NaN,NaN,2006
77,78.0,USA,W. BUSH,NaN,Afghanistan,"Bagram, Kabul",2006-01-03,2006-01-03,"Met with President Karzai, dedicated new U.S. ...",NaN,NaN,NaN,2006
78,79.0,USA,W. BUSH,NaN,India,"New Delhi, Hyderabad",2006-01-03,2006-03-03,Met with Prime Minister Singh. Signed nuclear ...,NaN,NaN,NaN,2006
79,80.0,USA,W. BUSH,NaN,Pakistan,Islamabad,2006-03-03,2006-04-03,Met with President Musharraf.,NaN,NaN,NaN,2006
80,81.0,USA,W. BUSH,NaN,Mexico,"Cancun, Chichen-Itza",2006-03-30,2006-03-31,Met with President Fox and Canadian Prime Mini...,NaN,NaN,NaN,2006

In [57]:
#reading in the data on democracy index 2006-2019
democracy_all=pd.read_csv("../data/Democracy Index all years_1.csv")

In [58]:
democracy_all.head()

                    Country  Year  democracy_index
0                    Canada  2019             9.22
1  United States of America  2019             7.96
2                   Austria  2019             8.29
3                   Belgium  2019             7.64
4                    Cyprus  2019             7.59

In [59]:
democracy_years=pd.merge(df1, democracy_all, left_on=['Location country', "Year"], right_on=['Country', 'Year'])

In [60]:
democracy_years

,Order,Country of president,President,Location continent,Location country,Location city,Date start,Date end,Subject,Participants,Source,Link,Year,Country,democracy_index
0,77.0,USA,W. BUSH,NaN,Ireland,Shannon,2006-02-28,2006-02-28,Met with U.S. Marines who were en route to Iraq.,NaN,NaN,NaN,2006,Ireland,9.01
1,78.0,USA,W. BUSH,NaN,Afghanistan,"Bagram, Kabul",2006-01-03,2006-01-03,"Met with President Karzai, dedicated new U.S. ...",NaN,NaN,NaN,2006,Afghanistan,3.06
2,79.0,USA,W. BUSH,NaN,India,"New Delhi, Hyderabad",2006-01-03,2006-03-03,Met with Prime Minister Singh. Signed nuclear ...,NaN,NaN,NaN,2006,India,7.68
3,911.0,China,Hu Jintao,NaN,India,New Delhi,2006-11-21,2006-11-21,Hu Jintao held talks with Indian Prime Ministe...,"Hu Jintao, Bo Xilai, Li Zhaoxing, Ma Kai, Wang...",http://english.gov.cn/2006-11/22/content_44960...,http://www.chinavitae.com//vip/index.php?mode=...,2006,India,7.68
4,80.0,USA,W. BUSH,NaN,Pakistan,Islamabad,2006-03-03,2006-04-03,Met with President Musharraf.,NaN,NaN,NaN,2006,Pakistan,3.92
5,910.0,China,Hu Jintao,NaN,Pakistan,Islamabad,2006-11-24,2006-11-25,Hu Jintao held talks with Pakistani President ...,"Hu Jintao, Bo Xilai, Li Zhaoxing, Wang Gang, W...",http://news.xinhuanet.com/english/2006-11/25/c...,http://www.chinavitae.com//vip/index.php?mode=...,2006,Pakistan,3.92
6,81.0,USA,W. BUSH,NaN,Mexico,"Cancun, Chichen-Itza",2006-03-30,2006-03-31,Met with President Fox and Canadian Prime Mini...,NaN,NaN,NaN,2006,Mexico,6.67
7,82.0,USA,W. BUSH,NaN,Iraq,Baghdad,2006-06-13,2006-06-13,Met with Prime Minister Maliki and addressed U...,NaN,NaN,NaN,2006,Iraq,4.01
8,83.0,USA,W. BUSH,NaN,Austria,Vienna,2006-06-20,2006-06-21,Attended the U.S.-EU Summit.,NaN,NaN,NaN,2006,Austria,8.69
9,84.0,USA,W. BUSH,NaN,Hungary,Budapest,2006-06-21,2006-06-22,"Met with President Solyom, Prime Minister Gyur...",NaN,NaN,NaN,2006,Hungary,7.53
10,612.0,Russia,Putin,NaN,Hungary,NaN,2006-02-28,NaT,Vladimir Putin held talks with Hungarian Presi...,NaN,NaN,http://en.kremlin.ru/events/president/trips/45582,2006,Hungary,7.53
11,85.0,USA,W. BUSH,NaN,Germany,"Stralsund, Trinwillershagen",2006-12-07,2006-07-14,Met with Chancellor Merkel.,NaN,NaN,NaN,2006,Germany,8.82
12,600.0,Russia,Putin,NaN,Germany,NaN,2006-10-10,NaT,Vladimir Putin arrived in Germany for a workin...,NaN,NaN,http://en.kremlin.ru/events/president/trips/45599,2006,Germany,8.82
13,86.0,USA,W. BUSH,NaN,Russia,St. Petersburg,2006-07-14,2006-07-17,Attended the G-8 Economic Summit. Met with Pre...,NaN,NaN,NaN,2006,Russia,5.02
14,87.0,USA,W. BUSH,NaN,Russia,Moscow,2006-11-15,2006-11-15,Met with President Putin.,NaN,NaN,NaN,2006,Russia,5.02
15,914.0,China,Hu Jintao,NaN,Russia,St. Petersburg,2006-07-16,2006-07-17,Hu Jintao met with US President George W. Bush...,"Hu Jintao, Tang Jiaxuan, George W. Bush, Hu Ji...",http://english.gov.cn/2006-07/18/content_33848...,http://www.chinavitae.com//vip/index.php?mode=...,2006,Russia,5.02
16,88.0,USA,W. BUSH,NaN,Singapore,Singapore,2006-11-16,2006-11-17,Met with Acting President Pillay and Prime Min...,NaN,NaN,NaN,2006,Singapore,5.89
17,89.0,USA,W. BUSH,NaN,Vietnam,"Hanoi, Ho Chi Minh City",2006-11-17,2006-11-20,Attended APEC Leadersâ Meeting.,NaN,NaN,NaN,2006,Vietnam,2.75
18,597.0,Russia,Putin,NaN,Vietnam,NaN,2006-11-19,NaT,Vladimir Putin and President of Vietnam Nguyen...,NaN,NaN,http://en.kremlin.ru/events/president/trips/45603,2006,Vietnam,2.75
19,598.0,Russia,Putin,NaN,Vietnam,NaN,2006-11-18,NaT,Vladimir Putin participated in the meeting bet...,NaN,NaN,http://en.kremlin.ru/events/president/trips/48840,2006,Vietnam,2.75
20,913.0,China,Hu Jintao,NaN,Vietnam,Hanoi,2006-11-15,2006-11-18,"Hu Jintao met with Nguyen Ba Thanh, secretary ...","Hu Jintao, Ma Kai, Wang Gang, Wang Jiarui, Ba ...",http://news.xinhuanet.com/english/2006-11/18/c...,http://www.chinavitae.com//vip/index.php?mode=...,2006,Vietnam,2.75
21,90.0,USA,W. BUSH,NaN,Indonesia,"Jakarta, Bogor",2006-11-20,2006-11-20,Met with President Yudhoyono.,NaN,NaN,NaN,2006,Indonesia,6.41
22,91.0,USA,W. BUSH,NaN,Estonia,Tallinn,2006-11-27,2006-11-28,Met with President Ilves.,NaN,NaN,NaN,2006,Estonia,7.74
23,92.0,USA,W. BUSH,NaN,Latvia,Riga,2006-11-28,2006-11-29,Attended NATO Summit Meeting.,NaN,NaN,NaN,2006,Latvia,7.37
24,93.0,USA,W. BUSH,NaN,Jordan,Amman,2006-11-29,2006-11-30,Met with King Abdullah II and Iraqi Prime Mini...,NaN,NaN,NaN,2006,Jordan,3.92
25,109.0,USA,W. BUSH,NaN,Israel,"Tel Aviv, Jerusalem",2008-09-01,2008-11-01,Met with Prime Minister Olmert and President P...,NaN,NaN,NaN,2008,Israel,7.48
26,125.0,USA,W. BUSH,NaN,Israel,"Tel Aviv, Jerusalem, Masada",2008-05-14,2008-05-16,Met with President Peres and Prime Minister Ol...,NaN,NaN,NaN,2008,Israel,7.48
27,110.0,USA,W. BUSH,NaN,Palestine,"Ramallah, Bethlehem",2008-10-01,2008-10-01,Met with President Abbas and visited the Churc...,NaN,NaN,NaN,2008,Palestine,5.83
28,111.0,USA,W. BUSH,NaN,Kuwait,"Kuwait City, Camp Arifjan",2008-11-01,2008-12-01,Attended Roundtable on Democracy and Developme...,NaN,NaN,NaN,2008,Kuwait,3.39
29,112.0,USA,W. BUSH,NaN,Bahrain,Manama,2008-12-01,2008-01-13,Met with King Hamad bin Isa al âKhalifa. Add...,NaN,NaN,NaN,2008,Bahrain,3.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,800.0,China,Xi Jinping,NaN,Vietnam,Hanoi,2015-05-11,2015-06-11,"Xi Jinping, Peng Liyuan attend welcome banquet...","Xi Jinping, Nguyen Phu Trong, Xi Jinping, Nguy...",http://news.xinhuanet.com/english/2015-11/06/c...,http://www.chinavitae.com//vip/index.php?mode=...,2015,Vietnam,3.53
534,801.0,China,Xi Jinping,NaN,United Kingdom,Manchester,2015-10-19,2015-10-23,"Xi arrives for UK visit, eyes ""golden time"" fo...","Xi Jinping, Queen Elizabeth II, Xi Jinping",http://news.xinhuanet.com/english/2015-10/24/c...,http://www.chinavitae.com//vip/index.php?mode=...,2015,United Kingdom,8.31
535,803.0,China,Xi Jinping,NaN,Russia,Ufa,2015-08-07,2015-10-07,"Xi, Putin meet ahead of BRICS, SCO summits, Ch...","Xi Jinping, Vladimir Putin, Xi Jinping, Jacob ...",http://news.xinhuanet.com/english/2015-07/10/c...,http://www.chinavitae.com//vip/index.php?mode=...,2015,Russia,3.31
536,805.0,China,Xi Jinping,NaN,Russia,Moscow,2015-08-05,2015-08-05,Chinese president arrives in Moscow for Great ...,"Xi Jinping, Vladimir Putin, Xi Jinping, Vladim...",http://news.xinhuanet.com/english/2015-05/09/c...,http://www.chinavitae.com//vip/index.php?mode=...,2015,Russia,3.31
537,807.0,China,Xi Jinping,NaN,Indonesia,Jakarta,2015-04-21,2015-04-23,Xi Jinping Arrives in Jakarta for Attendance o...,"Xi Jinping, Joko Widodo, Xi Jinping, Shinzo Ab...",http://news.xinhuanet.com/english/2015-04/23/c...,http://www.chinavitae.com//vip/index.php?mode=...,2015,Indonesia,7.03
538,808.0,China,Xi Jinping,NaN,Pakistan,Islamabad,2015-04-20,2015-04-21,Xi Jinping Meets with Co-chairman of Pakistan ...,"Xi Jinping, Asif Ali Zardari, Xi Jinping, Mamn...",http://news.xinhuanet.com/english/2015-04/21/c...,http://www.chinavitae.com//vip/index.php?mode=...,2015,Pakistan,4.40
539,809.0,China,Xi Jinping,NaN,Fiji,Nadi,2014-11-21,2014-11-23,"China sees Fiji as friend, partner in Pacific ...","Xi Jinping, Epeli Nailatikau, Xi Jinping, Josa...",http://news.xinhuanet.com/english/china/2014-1...,http://www.chinavitae.com//vip/index.php?mode=...,2014,Fiji,5.61
540,810.0,China,Xi Jinping,NaN,New Zealand,Wellington,2014-11-19,2014-11-20,Chinese president arrives in New Zealand for s...,"Xi Jinping, Jerry Mateparae, John Key, Xi Jinp...",http://news.xinhuanet.com/english/photo/2014-1...,http://www.chinavitae.com//vip/index.php?mode=...,2014,New Zealand,9.26
541,813.0,China,Xi Jinping,NaN,Sri Lanka,Colombo,2014-09-16,2014-09-16,"Chinese, Sri Lankan presidents agree to deepen...","Xi Jinping, Mahinda Rajapaksa, Xi Jinping, Mah...",http://news.xinhuanet.com/english/photo/2014-0...,http://www.chinavitae.com//vip/index.php?mode=...,2014,Sri Lanka,5.69
542,816.0,China,Xi Jinping,NaN,Portugal,Terceira Island,2014-07-24,2014-07-24,China stands ready to deepen cooperation with ...,"Xi Jinping, Paulo Portas",http://news.xinhuanet.com/english/china/2014-0...,http://www.chinavitae.com//vip/index.php?mode=...,2014,Portugal,7.79
543,818.0,China,Xi Jinping,NaN,Venezuela,Caracas,2014-07-20,2014-07-21,Chinese president receives Liberator Medal in ...,"Xi Jinping, Nicolas Maduro, Xi Jinping, Nicola...",http://news.xinhuanet.com/english/china/2014-0...,http://www.chinavitae.com//vip/index.php?mode=...,2014,Venezuela,5.07
544,821.0,China,Xi Jinping,NaN,Greece,Rhodes,2014-07-13,2014-07-13,"#China, #Greece agree to enhance comprehensive...","Xi Jinping, Antonis Samaras, Xi Jinping, Karol...",http://news.xinhuanet.com/english/china/2014-0...,http://www.chinavitae.com//vip/index.php?mode=...,2014,Greece,7.45
545,827.0,China,Xi Jinping,NaN,Russia,Sochi,2014-06-02,2014-08-02,"Chinese president meets #IOC president #China,...","Xi Jinping, Thomas Bach, Xi Jinping, Vladimir ...",http://news.xinhuanet.com/english/china/2014-0...,http://www.chinavitae.com//vip/index.php?mode=...,2014,Russia,3.39
546,829.0,China,Xi Jinping,NaN,Malaysia,Kuala Lumpur,2013-03-10,2013-04-10,Chinese president arrives in Kuala Lumpur for ...,"Xi Jinping, Najib Razak, Xi Jinping, Abdul Hal...",http://news.xinhuanet.com/english/china/2013-1...,http://www.chinavitae.com//vip/index.php?mode=...,2013,Malaysia,6.49
547,832.0,China,Xi Jinping,NaN,Uzbekistan,Samarkand,2013-08-09,2013-10-09,Chinese president arrives in Tashkent for Uzbe...,"Xi Jinping, Islam Karimov, Xi Jinping, Islam K...",http://news.xinhuanet.com/english/photo/2013-0...,http://www.chinavitae.com//vip/index.php?mode=...,2013,Uzbekistan,1.72
548,835.0,China,Xi Jinping,NaN,Turkmenistan,Mary,2013-03-09,2013-04-09,"Chinese president arrives in Ashkhabad, starts...","Xi Jinping, Gurbanguly Berdymukhamedov, Xi Jin...",http://news.xinhuanet.com/english/china/2013-0...,http://www.chinavitae.com//vip/index.php?mode=...,2013,Turkmenistan,1.72
549,836.0,China,Xi Jinping,NaN,United States of America,Rancho Mirage,2013-06-06,2013-08-06,Chinese president arrives in California for su...,"Xi Jinping, Barack Obama, Wang Yi, Xi Jinping,...",http://news.xinhuanet.com/english/china/2013-0...,http://www.chinavitae.com//vip/index.php?mode=...,2013,United States of America,8.11
550,839.0,China,Xi Jinping,NaN,Trinidad and Tobago,Port of Spain,2013-05-31,2013-02-06,Chinese president says his visit to #Trinidad ...,"Xi Jinping, Anthony Carmona, Kamla Persad-Biss...",http://eng.mod.gov.cn/TopNews/2013-06/03/conte...,http://www.chinavitae.com//vip/index.php?mode=...,2013,Trinidad and Tobago,6.99
551,844.0,China,Hu Jintao,NaN,Russia,Vladivostok,2012-06-09,2012-09-09,Hu Jintao arrives for #APEC forum in Vladivost...,"Hu Jintao, Vladimir Putin, Hu Jintao, Tan Sang...",http://news.xinhuanet.com/english/photo/2012-0...,http://www.chinavitae.com//vip/index.php?mode=...,2012,Russia,3.74
552,846.0,China,Hu Jintao,NaN,Denmark,Copenhagen,2012-06-14,2012-06-16,President Hu arrives in Denmark for landmark v...,"Hu Jintao, Margrethe II, Hu Jintao, Helle Tho...",http://news.xinhuanet.com/english/china/2012-0...,http://www.chinavitae.com//vip/index.php?mode=...,2012,Denmark,9.52
553,853.0,China,Hu Jintao,NaN,Austria,Salzburg,2011-10-29,2011-02-11,President Hu's Austria visit to boost bilatera...,"Hu Jintao, Barbara Prammer, Hu Jintao, Heinz F...",http://news.xinhuanet.com/english2010/china/20...,http://www.chinavitae.com//vip/index.php?mode=...,2011,Austria,8.49
554,855.0,China,Hu Jintao,NaN,Russia,St. Petersburg,2011-06-15,2011-06-18,President Hu Jintao Arrives in Russia for Stat...,"Hu Jintao, Alexander Avdeyev, Hu Jintao, Vladi...",http://news.xinhuanet.com/english2010/china/20...,http://www.chinavitae.com//vip/index.php?mode=...,2011,Russia,3.92
555,866.0,China,Hu Jintao,NaN,Russia,Moscow,2010-08-05,2010-09-05,Hu Jintao met with representatives of the Russ...,"Hu Jintao, Dai Bingguo, Ling Jihua, Ma Xiaotia...",http://news.xinhuanet.com/english2010/china/20...,http://www.chinavitae.com//vip/index.php?mode=...,2010,Russia,4.26
556,884.0,China,Hu Jintao,NaN,Greece,Athens,2008-11-24,2008-11-25,Hu Jintao held talks with Greek President Karo...,"Hu Jintao, Chen Deming, Dai Bingguo, Ling Jihu...",http://news.xinhuanet.com/english/2008-11/26/c...,http://www.chinavitae.com//vip/index.php?mode=...,2008,Greece,8.13
557,887.0,China,Hu Jintao,NaN,Costa Rica,San Jose,2008-11-17,2008-11-17,Hu Jintao met with Costa Rican President Oscar...,"Hu Jintao, Chen Deming, Dai Bingguo, Ling Jihu...",http://news.xinhuanet.com/english/2008-11/17/c...,http://www.chinavitae.com//vip/index.php?mode=...,2008,Costa Rica,8.04
558,912.0,China,Hu Jintao,NaN,Laos,Vientiane,2006-11-19,2006-11-19,"Hu Jintao met with Choummaly Sayasone, general...","Hu Jintao, Bo Xilai, Li Zhaoxing, Ma Kai, Wang...",http://news.xinhuanet.com/english/2006-11/19/c...,http://www.chinavitae.com//vip/index.php?mode=...,2006,Laos,2.10
559,916.0,China,Hu Jintao,NaN,Kenya,Nairobi,2006-04-28,2006-04-28,Hu Jintao met with the UN Human Settlement Pro...,"Hu Jintao, Bo Xilai, Li Zhaoxing, Ma Kai, Anna...",http://english.gov.cn/2006-04/28/content_26915...,http://www.chinavitae.com//vip/index.php?mode=...,2006,Kenya,5.08
560,917.0,China,Hu Jintao,NaN,Nigeria,Abuja,2006-04-26,2006-04-26,Hu Jintao held talks with Nigerian President O...,"Hu Jintao, Bo Xilai, Li Zhaoxing, Ma Kai, Olus...",http://news.xinhuanet.com/english/2006-04/27/c...,http://www.chinavitae.com//vip/index.php?mode=...,2006,Nigeria,3.52
561,919.0,China,Hu Jintao,NaN,Saudi Arabia,Riyadh,2006-04-22,2006-04-23,Hu Jintao held talks with Saudi King Abdullah ...,"Hu Jintao, Bo Xilai, Li Zhaoxing, Ma Kai, Tang...",http://news.xinhuanet.com/english/2006-04/23/c...,http://www.chinavitae.com//vip/index.php?mode=...,2006,Saudi Arabia,1.92
562,920.0,China,Hu Jintao,NaN,United States of America,New Haven,2006-04-18,2006-04-21,"Hu Jintao and his wife Liu Yongqing, accompani...","Hu Jintao, Bo Xilai, Li Zhaoxing, Ma Kai, Tang...",http://english.gov.cn/2006-04/21/content_26061...,http://www.chinavitae.com//vip/index.php?mode=...,2006,United States of America,8.22

## China and democracy

In [61]:
china_dem_all=democracy_years[democracy_years['Country of president']=='China'].copy()

In [62]:
china_dem_all['democracy_index'].describe()
#the average democracy index is 5.96

count    137.000000
mean       5.961825
std        2.333781
min        1.080000
25%        3.590000
50%        6.840000
75%        8.010000
max        9.520000
Name: democracy_index, dtype: float64

In [63]:
china_dem_all.sort_values(by='democracy_index').head(10)[["Country of president", "Location country", "Year", "democracy_index"]]

    Country of president Location country  Year  democracy_index
269                China      North Korea  2019             1.08
475                China     Turkmenistan  2008             1.72
547                China       Uzbekistan  2013             1.72
548                China     Turkmenistan  2013             1.72
447                China       Uzbekistan  2010             1.74
561                China     Saudi Arabia  2006             1.92
197                China     Saudi Arabia  2016             1.93
284                China       Tajikistan  2019             1.93
330                China       Uzbekistan  2016             1.95
558                China             Laos  2006             2.10

## Russia

In [64]:
Russia_dem_all=democracy_years[democracy_years['Country of president']=='Russia'].copy()

In [65]:
Russia_dem_all['democracy_index'].describe()
#the average is only 5.4. It seems it is because of many visits to Tajikistan, Turkmenistan and Uzbekistan

count    248.000000
mean       5.423790
std        2.486531
min        1.430000
25%        3.130000
50%        5.330000
75%        7.920000
max        9.800000
Name: democracy_index, dtype: float64

In [111]:
Russia_dem_all.sort_values(by='democracy_index').head(10)[["Country of president", "Location country", "Year", "democracy_index"]]

    Country of president Location country  Year  democracy_index
308               Russia            Syria  2017             1.43
478               Russia             Chad  2008             1.52
497               Russia             Chad  2006             1.65
398               Russia       Uzbekistan  2012             1.72
311               Russia     Turkmenistan  2017             1.72
474               Russia     Turkmenistan  2008             1.72
276               Russia     Turkmenistan  2019             1.72
430               Russia     Turkmenistan  2010             1.72
387               Russia     Turkmenistan  2012             1.72
416               Russia       Uzbekistan  2011             1.74

## USA

In [112]:
USA_dem_all=democracy_years[democracy_years['Country of president']=='USA'].copy()

In [117]:
USA_dem_all['democracy_index'].describe()
#US has by far the highest mean of democracy index

count    178.000000
mean       6.528652
std        2.182861
min        1.080000
25%        5.020000
50%        7.380000
75%        8.080000
max        9.730000
Name: democracy_index, dtype: float64

In [116]:
USA_dem_all.sort_values(by='democracy_index').head(10)[["Country of president", "Location country", "Year", "democracy_index"]]
#USa has  only two countries under 2

    Country of president Location country  Year  democracy_index
268                  USA      North Korea  2019             1.08
146                  USA     Saudi Arabia  2014             1.82
32                   USA     Saudi Arabia  2008             1.90
31                   USA     Saudi Arabia  2008             1.90
218                  USA     Saudi Arabia  2017             1.93
196                  USA     Saudi Arabia  2016             1.93
175                  USA     Saudi Arabia  2015             1.93
111                  USA          Myanmar  2012             2.35
211                  USA             Laos  2016             2.37
67                   USA      Afghanistan  2010             2.48

In [118]:
democracy_years[democracy_years['democracy_index']<2].groupby("Country of president")["Location country"].nunique()
#US has 2 countries, China 6, Russia 6

Country of president
China     5
Russia    6
USA       2
Name: Location country, dtype: int64

## The different presidents of the US?

In [119]:
presidents= democracy_years[democracy_years['Country of president']=='USA'].copy()

In [120]:
presidents.groupby(["President"])["democracy_index"].mean()
#There is no significant difference between the means. 
#On the other hand, Obama traveled more to Africa where the index tends to be lower.

President
OBAMA      6.757128
TRUMP      6.946944
W. BUSH    5.767500
Name: democracy_index, dtype: float64

## GDP

In [83]:
#using UN data 2017 on gdps as in unvisited countries
df_ranking=pd.read_csv("../data/gdp2017_ranking_UN.csv")

In [84]:
world = gp.read_file(gp.datasets.get_path('naturalearth_lowres'))

In [85]:
#there are very small countries missing in the world plot: Bahrain, Malta, Maldives, Mauritius, Panama, Sychelles, Singapore and Vatican City. Adding them by hand.
world_analysis=pd.read_csv('../data/world_analysis.csv')

In [86]:
world_counts = world_analysis.merge(
    df,
    left_on="name",
    right_on="Location country",
    how="left"
)

In [87]:
world_counts.head()

,Unnamed: 0,pop_est,continent,name,iso_a3,gdp_md_est,Order,Country of president,President,Location continent,Location country,Location city,Date start,Date end,Subject,Participants,Source,Link,Year
0,0.0,920938.0,Oceania,Fiji,FJI,8374.0,809.0,China,Xi Jinping,NaN,Fiji,Nadi,2014-11-21,2014-11-23,"China sees Fiji as friend, partner in Pacific ...","Xi Jinping, Epeli Nailatikau, Xi Jinping, Josa...",http://news.xinhuanet.com/english/china/2014-1...,http://www.chinavitae.com//vip/index.php?mode=...,2014.0
1,1.0,53950935.0,Africa,Tanzania,TZA,150600.0,117.0,USA,W. BUSH,NaN,Tanzania,"Dar es Salaam, Arusha",2008-02-16,2008-02-19,"Met with President Kikwete, signed Millennium ...",NaN,NaN,NaN,2008.0
2,1.0,53950935.0,Africa,Tanzania,TZA,150600.0,201.0,USA,OBAMA,NaN,Tanzania,Dar es Salaam,2013-01-07,2013-02-07,Met with President Jakaya Kikwete. Laid a wrea...,NaN,NaN,NaN,2013.0
3,1.0,53950935.0,Africa,Tanzania,TZA,150600.0,842.0,China,Xi Jinping,NaN,Tanzania,Dares Salaam,2013-03-24,2013-03-25,Xi Jinping on state visit meets with president...,"Xi Jinping, Jakaya Mrisho Kikwete, Xi Jinping,...",http://news.xinhuanet.com/english/china/2013-0...,http://www.chinavitae.com//vip/index.php?mode=...,2013.0
4,1.0,53950935.0,Africa,Tanzania,TZA,150600.0,880.0,China,Hu Jintao,NaN,Tanzania,Dares Salaam,2009-02-15,2009-02-15,Hu Jintao met with Tanzanian President Jakaya ...,"Hu Jintao, Chen Deming, Dai Bingguo, Ling Jihu...",http://news.xinhuanet.com/english/2009-02/15/c...,http://www.chinavitae.com//vip/index.php?mode=...,2009.0

## GDP rankings

In [88]:
# one way to compare the countries is to see, how they rank among themselves based on gdps.

In [121]:
gdp_ranking2017_per_capita=pd.merge(df_ranking, world_counts, left_on='name', right_on='Location country')

In [122]:
gdp_ranking2017_per_capita.head()

,Rank,name_x,US$,Unnamed: 0,pop_est,continent,name_y,iso_a3,gdp_md_est,Order,...,Location continent,Location country,Location city,Date start,Date end,Subject,Participants,Source,Link,Year
0,4,Switzerland,"80,101",127.0,8236303.0,Europe,Switzerland,CHE,496300.0,276.0,...,NaN,Switzerland,Davos,2018-01-24,2018-01-26,Attended the 2018 World Economic Forum.,NaN,NaN,NaN,2018.0
1,4,Switzerland,"80,101",127.0,8236303.0,Europe,Switzerland,CHE,496300.0,465.0,...,NaN,Switzerland,NaN,2011-01-26,NaT,Meeting with International Business Council,NaN,NaN,http://en.kremlin.ru/events/president/trips/10164,2011.0
2,4,Switzerland,"80,101",127.0,8236303.0,Europe,Switzerland,CHE,496300.0,519.0,...,NaN,Switzerland,NaN,2009-09-21,NaT,Russian-Swiss talks were held as part of Dmitr...,NaN,NaN,http://en.kremlin.ru/events/president/trips/5542,2009.0
3,4,Switzerland,"80,101",127.0,8236303.0,Europe,Switzerland,CHE,496300.0,778.0,...,NaN,Switzerland,Davos,2017-01-15,2017-01-17,"Xi arrives in Switzerland for state visit, Dav...","Xi Jinping, Doris Leuthard, Xi Jinping, Doris ...",http://news.xinhuanet.com/english/2017-01/18/c...,http://www.chinavitae.com//vip/index.php?mode=...,2017.0
4,5,Norway,"75,295",21.0,5320045.0,Europe,Norway,-99,364700.0,164.0,...,NaN,Norway,Oslo,2009-10-12,2009-11-12,Met with King Harald V and Queen Sonja. Receiv...,NaN,NaN,NaN,2009.0

In [123]:
df_gdp_norm_ranking=pd.read_csv("../data/gdp3.csv")

In [92]:
df_gdp_norm_ranking

     Rank/wholegdp                 Country/Territory GDP\n(US$million)
0                1          United States of America        19,485,394
1                2                             China        12,234,781
2                3                             Japan         4,872,415
3                4                           Germany         3,693,204
4                5                    United Kingdom         2,631,228
5                6                            France         2,582,492
6                7                             India         2,575,666
7                8                            Brazil         2,055,512
8                9                             Italy         1,943,835
9               10                            Canada         1,647,120
10              11                       South Korea         1,577,524
11              12                            Russia         1,530,750
12              13                         Australia         1,408,675
13              14                             Spain         1,314,314
14              15                            Mexico         1,158,229
15              16                         Indonesia         1,015,539
16              17                            Turkey           851,541
17              18                       Netherlands           830,572
18              19                      Saudi Arabia           683,827
19              20                       Switzerland           678,938
20              21                         Argentina           637,486
21               0                            Taiwan           579,865
22              22                            Sweden           535,607
23              23                            Poland           526,211
24              24                           Belgium           494,763
25              25                              Iran           460,976
26              26                          Thailand           455,302
27              27                           Austria           416,835
28              28                            Norway           399,470
29              29              United Arab Emirates           382,575
..             ...                               ...               ...
178            167                            Belize             1,902
179            168                        Cape Verde             1,855
180            169                          Djibouti             1,844
181            170                       Saint Lucia             1,718
182            171                        San Marino             1,689
183            172                           Somalia             1,535
184            173                        Seychelles             1,486
185            174               Antigua and Barbuda             1,248
186            175                     Guinea-Bissau             1,209
187            176                       Solomon Is.             1,103
188              0                      Sint Maarten             1,059
189              0            British Virgin Islands               902
190            177                           Grenada               884
191            178             Saint Kitts and Nevis               852
192            179                            Gambia               851
193            180                             Samoa               824
194            181                           Vanuatu               812
195            182  Saint Vincent and the Grenadines               729
196            183                           Comoros               648
197            184                          Dominica               533
198            185                             Tonga               435
199            187   Micronesia, Federated States of               308
200              0                      Cook Islands               311
201              0                          Anguilla               311
202            188                             Palau               234
203            189                  Marshall Islands               209
204            190                             Nauru               182
205            191                          Kiribati               180
206              0                        Montserrat                63
207            192                            Tuvalu                38

[208 rows x 3 columns]

In [124]:
gdp_UN_rankings=pd.merge(gdp_ranking2017_per_capita, df_gdp_norm_ranking, left_on='Location country', right_on='Country/Territory')

In [125]:
#checking that small countries are in
gdp_UN_rankings[gdp_UN_rankings['Country/Territory']== 'Malta']

,Rank,name_x,US$,Unnamed: 0,pop_est,continent,name_y,iso_a3,gdp_md_est,Order,...,Date start,Date end,Subject,Participants,Source,Link,Year,Rank/wholegdp,Country/Territory,GDP (US$million)
320,31,Malta,"29,137",NaN,NaN,Europe,Malta,NaN,NaN,970.0,...,2001-07-23,2001-07-24,European Tour,"Guido De Marco, president of Malta",http://en.people.cn/200107/24/eng20010724_7565...,NaN,2001.0,129,Malta,"12,553"

## Add in GDP data

In [126]:
country_counts = df.groupby(["Country of president", "Location country"])["Order"]\
    .size()\
    .to_frame()\
    .reset_index()\
    .rename(columns={"Order": "num_trips"})

In [127]:
country_counts.head()

  Country of president Location country  num_trips
0                China          Algeria          1
1                China        Argentina          4
2                China        Australia          4
3                China          Austria          1
4                China       Bangladesh          1

In [134]:
gdp_country_rankings = pd.merge(country_counts, df_gdp_norm_ranking, left_on='Location country', right_on='Country/Territory')

In [135]:
gdp_country_rankings_all=pd.merge(gdp_country_rankings, df_ranking, left_on='Country/Territory', right_on='name')

In [136]:
gdp_country_rankings_all.head()

,Country of president,Location country,num_trips,Rank/wholegdp,Country/Territory,GDP (US$million),Rank,name,US$
0,China,Algeria,1,54,Algeria,"167,555",111,Algeria,"4,055"
1,Russia,Algeria,2,54,Algeria,"167,555",111,Algeria,"4,055"
2,China,Argentina,4,21,Argentina,"637,486",55,Argentina,"14,400"
3,Russia,Argentina,3,21,Argentina,"637,486",55,Argentina,"14,400"
4,USA,Argentina,3,21,Argentina,"637,486",55,Argentina,"14,400"

In [131]:
#median of rank at nominal gdp in the world of target countries by China
gdp_country_rankings_all.loc[
    lambda x: (x["Country of president"] == "China") & (x["num_trips"]>1)
]["Rank/wholegdp"].median()

39.0

In [132]:
#median of rank at nominal gdp in the world of target countries by Russia
gdp_country_rankings_all.loc[
    lambda x: (x["Country of president"] == "Russia") & (x["num_trips"]>1)
]["Rank/wholegdp"].median()

34.0

In [133]:
#median of rank at nominal gdp in the world of target countries by the US
gdp_country_rankings_all.loc[
    lambda x: (x["Country of president"] == "USA") & (x["num_trips"]>1)
]["Rank/wholegdp"].median()

31.5

In [103]:
#median of rank at gdp per capita in the world of target countries by  China
gdp_country_rankings_all.loc[
    lambda x: (x["Country of president"] == "China") & (x["num_trips"]>1)
]["Rank"].median()

72.0

In [104]:
#median of rank at gdp per capita in the world of target countries by Russia
gdp_country_rankings_all.loc[
    lambda x: (x["Country of president"] == "Russia") & (x["num_trips"]>1)
]["Rank"].median()

57.0

In [137]:
#median of rank at gdp per capita in the world of target countries by the US
gdp_country_rankings_all.loc[
    lambda x: (x["Country of president"] == "USA") & (x["num_trips"]>1)
]["Rank"].median()

56.0

USA has visited richer countries in both per capita and per nominal gdp than China and Russia when looking at the median rankings. China and Russia are closer to each other.

---

---

---